@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

html {
  font-family: 'Jost', sans-serif;
}

@layer base {
  html, body {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;  }
  
  * {
    border-color: hsl(var(--border));
    outline-color: hsl(var(--ring) / 0.5);
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}